.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    animation: visible .3s ease-in;
    /* background-color: #45B1BE; */
    position: relative;
}
@keyframes visible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero__white{
  width: 100%;
  min-height: 350px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.hero__white::before{
  content:"";
  width: 100%;
  height: 90px;
  background: #AED6D5;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
}
.hero__white h1{
  position: relative;
  z-index: 2;
  font-size: 3rem;
  text-align: center;
  color: #45B1BE;
  margin: 0;
  margin-bottom: 20px;
  transform: translateY(50px);
  animation: appear .5s ease-in;
}

.hero{
    width: 100%;
    min-height: 350px;
    padding: 0 30px;
    /* background: linear-gradient(to bottom right, #AED6D5 10%, #45B1BE 70%); */
    background-color: #45B1BE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero::after{
    content:"";
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom right, #45B1BE 10%, #AED6D5 70%); */
    background-color: #45B1BE;
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: animateHero 5s infinite linear alternate;
}
@keyframes animateHero{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero h1{
    position: relative;
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    animation: appear .5s ease-in;
}
.hero__a{
  position: relative;
  padding: 100px 0;
}
.hero__a img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__a h1{
    font-size: 2rem;
    padding: 0 20px;
    max-width: 900px;
    text-align: center;
}
@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


 /* ///////////////////////////////// EventFeature Page ///////////////////////////////////////// */

 .agenda{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #45B1BE;
    /* background: linear-gradient(to bottom right, #45B1BE 10%, #AED6D5 70%); */
    color: #fff;
    margin: 0;
  }
  .agenda_content{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .agenda_content_t{
  }
  /* .agenda_content_t p{
    word-spacing: 3px;
    line-height: 1.5rem;
    text-align: center;
  } */
  .agenda_content_t h1{
    font-size: 3rem;
    text-align: center;
  }
  .agenda_content_t span{
    color: #AED6D5;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .agenda_content_b{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .agenda_card_container{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .agenda_card_container h1{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 10px;
  }
  .agenda_card_c{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .agenda_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #78e0f4 10%, #4eaee5 30%, #050752 80%);
    border: #fff 2px solid;
    cursor: pointer;
    transition: .3s;
  }
  .agenda_card:hover{
    transform: scale(1.05);
  }
  .agenda_card_title{
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .agenda_card_desc{
    font-size: .8rem;
    margin-bottom: 20px;
  }
  .agenda_card_button{
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to top, #78e0f4 10%, #4eaee5 30%, #050752 80%);
    transition: .3s;
  }
  .agenda_card_button:hover{
    box-shadow: 0 0 10px #fff;
  }
  /* .agenda_content_b img{
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
  } */
  
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.vm{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vm__container{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid #45B1BE;
    border-radius: 10px;
    padding: 10px;
    color: #45B1BE;
}
.vm__container h1{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}
.vm__container a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    background-color: #45B1BE;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .3s;
}
.vm__container a:hover{
    box-shadow: 0 0 10px #fff;
    background-color: #AED6D5;
    /* background: linear-gradient(to top , #45B1BE, #45B1BE); */
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.whyVisit{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #45B1BE;
}
.whyVisit__con{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid #fff; */
    border-radius: 10px;
    padding: 30px 50px;
    background-color: #AED6D5;
    color: #fff;
}
.whyVisit__con h2{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
.whyVisit__con p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}
.whyVisit__con ul{
    padding-left: 50px;
    margin: 0;
}
.whyVisit__con span{
    font-weight: bold;
    color: #45B1BE;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.eList{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.eList__row{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
}
.eList__row img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.eList__content{
  flex-grow: 1;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}
.eList__content h3{
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}
.eList__content span{
  font-size: .8rem;
  margin: 0;
}
.eList__sectors{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.eList__sectors p{
  font-size: .8rem;
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #AED6D555;
  color: #45B1BE;
}
.eList__btn{
  width: fit-content;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 5px;
  color: #AED6D5;
  border: 2px solid #AED6D5;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}
.eList__btn:hover{
  box-shadow: 0 0 10px #AED6D5;
  background-color: #AED6D5;
  color: #fff;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////// */
.eventModal {
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  overflow-y: auto;
}
.eventModal__con {
  position: relative;
  max-width: 800px;
  min-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  padding: 80px;
}
.eventModal__close {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #f87171;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}
.eventModal__title {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.eventModal__date,
.eventModal__time,
.eventModal__location {
  width: fit-content;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: #00a350;
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.eventModal__img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 1rem;
}
.eventModal__desc {
  word-wrap: break-word;
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}
.eventModal__btn {
  padding: 8px 20px;
  background-color: #ef4444;
  font-size: 18px;
  font-weight: 300;
  width: fit-content;
  align-self: flex-end;
  margin-top: 40px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
}
.btn__green {
  background-color: #22c55e;
}
.eventModal__products{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eventModal__products h2{
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}
.eventModal__products ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.eventModal__products ul li{
  list-style: none;
  width: 200px;
}
.eventModal__products ul li img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.speakers{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding: 30px 50px;
  gap: 50px;
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}
.speakers__bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #45B1BE; */
  background: radial-gradient(#AED6D588 0%, #fff 60%);
  z-index: -1;
  animation: movearound 30s linear infinite;
}
@keyframes movearound{
  0%{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(100px, 500px);
  }
  60%{
    transform: translate(-100px, -500px);
  }
  100%{
    transform: translate(0, 0);
  }
}
.speakers__left{
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.speakers__left h1{
  position: relative;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
  position: relative;
}
.speakers__left h1::after{
  content: '';
  width: 300px;
  height: 7px;
  background-color: #AED6D5;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(30px);
}

.speakers__con{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.speakers__card{
  min-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, #78e0f4 10%, #4eaee5 30%, #050752 80%);
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  transition: .3s ease-in-out;
}
.speakers__card:hover{
  transform: scale(1.02);
}
.speakers__card__img{
  width: 250px;
  height: 230px;
  border-bottom: 1px solid #fff;
}
.speakers__card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speakers__card__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.speakers__card__content h3{
  font-size: 1.3rem;
  font-weight: 700;
}
.speakers__card__content > span{
  font-size: .7rem;
}
.speakers__card__content p > span{
  font-weight: 700;
  font-size: .9rem;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */

    /*////////////// @media queries ////////////////*/

@media only screen and (max-width: 600px) {
  .agenda_content_t h1{
      font-size: 2.5rem;
  }
  .eventModal__con {
    min-width: 300px;
  }
  .eList__row{
    flex-direction: column;
    align-items: flex-start;
  }
  .eList__content{
    padding-right: 0;
  }
  .eventModal__products ul li{
    width: 100%;
  }
  .whyVisit{
    padding: 20px;
  }
  .whyVisit__con{
    padding: 30px;
  }
  .whyVisit__con p{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .eList__row{
    flex-direction: column;
    align-items: flex-start;
  }
  .eList__content{
    padding-right: 0;
  }
  .eventModal__products ul li{
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .eList__content{
    padding-right: 0;
  }
}